.filter-select-container {
  margin: 2em 0;
}

.filter-select {
  width: 20%;
}

.filter-select-option {
  display: flex;
  align-items: center;
}

.filter-select-option img {
  margin-right: 0.7em;
  width: 1.2em;
}

@media (max-width: 768px) {
  .filter-select {
    width: 100%;
  }
}
